<h1 class="maintitle">All your travel information in one place</h1>

<div class="mainimgcontainer"><div class="mainimage"></div></div>

<div class="row mainbenefits">

     <div class="col s4 center-align">
       <!-- Promo Content 1 goes here -->
       Info on all the countries
       <img src="http://placehold.it/300x150">
     </div>
     <div class="col s4 center-align">
       <!-- Promo Content 2 goes here -->
       Save your travel history
       <img src="http://placehold.it/300x150">
     </div>
     <div class="col s4 center-align">
       <!-- Promo Content 3 goes here -->
       Earn badges and more...
       <img src="http://placehold.it/300x150">
     </div>

   </div>
