// Place all the styles related to the countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.world-map {
  margin: 40px 0;
  height: 400px;
}

.map-title {
  margin-top: 30px;
}
