// Place all the styles related to the countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.world-map {
  margin: 40px 0 10px;
  height: 370px;
}

.map-title {
  margin-top: 30px;
  font-size: 3em;
  font-weight: 500;
  text-align: center;
  width: 100%;
}

.country-header {
  width: 100%;
}

.country-header img {
  display: inline-block;
  margin: 0 30px;
  vertical-align: middle;
}

#map-legend {
  margin-bottom: 10px;
}

.visited-country, {
  margin: 0 auto 20px;
  background: #ffe4b3;
  width: 50%;
  border-radius: 10px;
  padding: 2px 5px;
}

.visited-country form {
  display: inline-block;
}

.visited-country p,
.legend-colors p {
  // margin: 0;
  font-size: 0.9em;
  display: inline-block;
}

.visited-country p {
  font-size: 1.3em;
  margin: 7px;
}

.visited-cntry-info {
  margin: auto;
}

.visited-cntry-info [type="checkbox"] + label {
  height:18px;
}

.visited-country button {
  display: none;
}

.country-details {
  display: flex;
  justify-content: space-around;
}

.country-info,
.country-tweets,
.weather-info {
  // border: 1px dashed #bfbfbf;
  margin: 10px;
  padding: 10px;
}

.country-tweets {
  width: 60%;
  height: 240px;
  overflow: hidden;
  font-size: 0.9em;
  background-color: #ffedcc;
  border-radius: 10px;
}

.country-tweets p {
  padding: 5px 10px;
  margin-top: 0;
}

.country-info {
height: auto;
background-color: #f2f2f2;
border-radius: 10px;
}

.weather-info{
  width: 30%;
  height: 240px;
  border-radius: 10px;
}

.country-pics {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0 50px;
  // height: 200px;
  // margin: 20px 0 40px;
}

.box-selected {
  width: 14px;
  height: 14px;
  background: #008080;
}

.box-visited {
  width: 14px;
  height: 14px;
  background: #800020;
}

/* carousel height */
.gallery {
  height: 280px;
}

/* cell inherit height from carousel */
.gallery-cell {
  height: 100%;
}

.twitter-icon {
  max-width: 24px;
  margin: 0 10px;
}

.ctry-info-title {
  text-align: center;
}

#disqus_thread {
  background: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
}
