// Place all the styles related to the countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.world-map {
  margin: 40px 0;
  height: 370px;
}

.map-title {
  margin-top: 30px;
}

.map-legend {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.visited-country,
.legend-colors {
  border: 1px dotted #bfbfbf;
  width: 40%;
  border-radius: 3px;
  padding: 2px 5px;
  max-height: 30px;
}

.visited-country p,
.legend-colors p {
  margin: 0;
  font-size: 0.9em;
  display: inline-block;
}

.country-details {
  display: flex;
  justify-content: space-around;
}

.country-info,
.country-info2,
.weather-info {
  border: 1px dashed #bfbfbf;
  margin: 10px;
  padding: 10px;
  height: 240px;
  width: 30%;
}

.ctry-info-title {
  font-size: 1.6em;
  margin: 6px 0 10px;
  text-align: center;
}

.country-pics {
  width: 100%;
  border: 1px dashed #bfbfbf;
  margin: 20px 0 40px;
}

.box-selected {
  width: 14px;
  height: 14px;
  background: #008080;
}

.country-pic {
  height: 200px;
}
