// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-info {
  width: 90%;
  margin: auto;
}

.profile-page {
  display: inline-block;
}

.profile-top {
  margin: 20px 0;
}

.profile-gravatar {
  margin: auto;
}

.profile-section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.user-info {
  width: 90%;
  margin-left: 0;
}

.edit-icon,
.save-icon {
  width: 10%;
  text-align: right;
}

.password-edit {
  display: none;
}

.save-icon button {
  background: transparent;
  border: none;
  text-decoration: none;
}

.name-edit {
  display: none;
}

.username-edit {
  display: none;
}

.email-edit {
  display: none;
}

.user-edit-buttons {
  text-align: center;
  margin: 40px 0;
}

.user-edit-buttons a {
  margin: 0 25px;
}
